.Year {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.YearTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.YearSpent {
  background-color: #c0392b;
  border-right: 0.01em solid rgba(158, 47, 35, 0.4);
  border-bottom: 0.01em solid rgba(158, 47, 35, 0.5);
}

.YearLeft {
  background-color: #27ae60;
  border-right: 0.01em solid rgba(28, 121, 67, 0.4);
  border-bottom: 0.01em solid rgba(28, 121, 67, 0.5);
}

.YearProgress{
  background-color: #c0392b;
  flex-shrink: 0;
  flex-grow: 0;
}

.YearNotAlive {
  background-color: #7f8c8d;
  flex-shrink: 0;
  flex-grow: 0;
}

.YearProgressContainer {
  position: relative;
}

.YearTitle {
  position: absolute;
}

/* @media (min-width: 768px) {

  .Year {
    flex-direction: row;
    border-bottom: none;
    border-right: 1px solid black;
  }
} */