.Year {
  display: flex;
  align-items: center;
  flex: 1 1;
  position: relative;
}

.YearTitleContainer {
  display: flex;
  align-items: center;
}

.YearTitle {
  position: absolute;
  font-size: 0.75em;
  cursor: default;
}

.DimYearTitle {
  color: rgb(41, 46, 47);
}

.HighlightYearTitle {
  color: white;
}

.YearSpent {
  /* background-color: transparent; */
  border-right: 0.01em solid white;
  border-bottom: 0.01em solid white;
}

.YearSpent .YearTitle {
  left: 2.2em;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.05)
}

.YearLeft .YearTitle {
  right: 2.2em;
}

.YearLeft {
  background-color: #2d3436;
  color: rgb(115, 115, 115);
  border-right: 0.01em solid rgba(33, 39, 41, 0.4);
  border-bottom: 0.01em solid rgba(33, 39, 41, 0.5);
}

.YearProgress{
  background-color: white;
  flex-shrink: 0;
  flex-grow: 0;
}

.YearNotAlive {
  background-color: white;
  flex-shrink: 0;
  flex-grow: 0;
}

.YearSpent:hover {
  background-color: #ecf0f1;
}

.YearSpent:hover .YearTitle {
  color: rgba(0, 0, 0, 0.75)
}

.YearLeft:hover .YearTitle {
  color: rgb(115, 115, 115);
}

.YearLeft:hover .HighlightYearTitle {
  color: white;
}

/* @media (min-width: 768px) {

  .Year {
    flex-direction: row;
    border-bottom: none;
    border-right: 1px solid black;
  }
} */