.App {
  text-align: center;
}

#LoginForm {
  display: flex;
  flex-direction: column;
}

#Calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 1120px;
}

.Year {

}

.YearTitle {
  font-size: 0.8rem;
}

.WeeksContainer {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 5px);
  margin: 5px 10px 10px 10px;
  justify-content: center;
}

.Week {
  width: 5px;
  height: 5px;
  background-color: green;
}

.hidden {
  visibility: hidden;
}

.spent {
  background-color: red;
}